body {
  padding-top: 175px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.navbar {
  height: 150px;
}
.categories {
  /*background-color: red;*/
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.search{
  min-height:150px;
  padding: 25px;
  border-radius: 25px;
  box-shadow:1px 1px gray;
  border: 1px solid black;
}
.searchText{
  width:100%;
  height:50%;
  text-align: center;
}
.searchSubmit{
  width:40%;
  margin-left:30%;
  margin-top:10px;
}
.topics{
  /*background-color: blue;*/
  min-height:150px;
  padding-top:10px;
  padding-bottom:10px;
  border-radius: 25px;
  box-shadow:1px 1px gray;
  border: 1px solid black;
}
.topicsList{
  /*width:100%;
  height:100%;*/
  /*background-color: orange;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /*align-items: center;*/
}
.topicsList li{
  display: inline;
  margin:5px;
}
.topicsList li > button{
  width: auto;
  height:auto;
  min-width: 150px;
  min-height:30px;
  background-color: green;
  border-radius:10px;
  box-shadow: 1px 1px gray;

  /*margin:5px;*/
}
.topicsList li > button:hover {
  background-color: white;
  box-shadow: 2px 2px black;
}

.emotions {
  background-color: blue;
  min-height:200px;
  border-radius:25px;

}
.map-list{
  background-color: yellow;
  min-height:200px;
  border-radius:25px;

}
.results{
  background-color: red;
  min-height:200px;
  border-radius:25px;

}
