body {
  /*padding-top: 175px;*/
}
.navbar{
  background-image: url("./emap.png");
  background-size:300px;
  /*background-repeat: no-repeat;*/
  background-color: white;
  box-shadow: 0px 0px;
  border: 0px 0px ;
}
.e1{
  color: yellow;
  text-shadow: 2px 2px black;
  background-color:yellow;
}
.e2{
  color: red;
  text-shadow: 2px 2px black;
  background-color:red;


}
.e3{
  color: green;
  text-shadow: 2px 2px black;
  background-color:green;


}
.e4{
  color: purple;
  text-shadow: 2px 2px black;
  background-color:purple;


}
.e5{
  color: blue;
  text-shadow: 2px 2px black;
  background-color:blue;


}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.navbar {
  height: 150px;
}
.categories {
  /*background-color: red;*/
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.search{
  min-height:150px;
  padding: 85px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 25px;
  /*box-shadow:1px 1px gray;*/
  /*border: 1px solid black;*/
}
.searchText{
  width:100%;
  height:50%;
  text-align: center;
}
.searchSubmit{
  width:40%;
  margin-left:30%;
  margin-top:10px;
}
.topics{
  /*background-color: blue;*/
  min-height:150px;
  padding-top:10px;
  padding-bottom:10px;
  border-radius: 25px;
  /*box-shadow:1px 1px gray;*/
  /*border: 1px solid black;*/
}
.topicsList{
  /*width:100%;
  height:100%;*/
  /*background-color: orange;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /*align-items: center;*/
}
.topicsList li{
  display: inline;
  margin:5px;
}
.topicsList li > a > button{
  width: auto;
  height:auto;
  color: white;
  min-width: 150px;
  min-height:30px;
  background-color: green;
  border-radius:10px;
  box-shadow: 1px 1px gray;

  /*margin:5px;*/
}
.topicsList li > a > button:hover {
  background-color: black;
  box-shadow: 2px 2px black;
}
.emotions {
  /*background-color: blue;*/
  min-height:150px;
  border-radius:25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-around;
}
.emotions > div{
  width:15%;
  height:125px;
  /*background-color: purple;*/
  /*border: 1px solid black;*/
  float:left;
  border-radius: 15px;
  text-align: center;
  vertical-align: center;
}
.map-list{
  min-height:200px;
  border-radius:25px;
}
.map-list > div {
  width:25%;
  font-size: xx-large;
  background-color: gray;
  /*border: 1px solid black;*/
  float:left;
  border-radius: 15px;
  text-align: center;
  padding: 75px;
  margin-bottom: 25px;
}
.map-list>div:nth-of-type(1){
  margin-left:25%;
}
.map-list>div:nth-of-type(2){
  margin-left:5%;
}
.map-list > div:hover {
  opacity: 0.75;
  box-shadow:5px 5px black;

}
.results{
  /*background-color: red;*/
  min-height:1000px;
  border-radius:25px;
  float:left;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: space-around;
}
#map {
  height: 1000px;
  width:90%;
  margin: auto;
}
.article{
  width:100%;
}
.articleImage{
}
.noColor{
  color:black;
}
.newsArticles {
  border-radius: 25px;
}
