body {
  /*padding-top: 175px;*/
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.navbar {
  height: 150px;
}
.categories {
  /*background-color: red;*/
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.search{
  min-height:150px;
  padding: 25px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 25px;
  box-shadow:1px 1px gray;
  border: 1px solid black;
}
.searchText{
  width:100%;
  height:50%;
  text-align: center;
}
.searchSubmit{
  width:40%;
  margin-left:30%;
  margin-top:10px;
}
.topics{
  /*background-color: blue;*/
  min-height:150px;
  padding-top:10px;
  padding-bottom:10px;
  border-radius: 25px;
  box-shadow:1px 1px gray;
  border: 1px solid black;
}
.topicsList{
  /*width:100%;
  height:100%;*/
  /*background-color: orange;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /*align-items: center;*/
}
.topicsList li{
  display: inline;
  margin:5px;
}
.topicsList li > button{
  width: auto;
  height:auto;
  min-width: 150px;
  min-height:30px;
  background-color: green;
  border-radius:10px;
  box-shadow: 1px 1px gray;

  /*margin:5px;*/
}
.topicsList li > button:hover {
  background-color: white;
  box-shadow: 2px 2px black;
}
.emotions {
  /*background-color: blue;*/
  min-height:200px;
  border-radius:25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: space-around;
}
.emotions > div{
  width:20%;
  height:200px;
  /*background-color: purple;*/
  border: 1px solid black;
  float:left;
  border-radius: 15px;
  text-align: center;
  vertical-align: center;
}
.map-list{
  min-height:200px;
  border-radius:25px;
}
.map-list > div {
  width:50%;
  height:200px;
  border: 1px solid black;
  float:left;
  border-radius: 15px;
  text-align: center;
}
.results{
  /*background-color: red;*/
  min-height:1000px;
  border-radius:25px;
  float:left;
}
#map {
  height: 1000px;
}
.article{
}
.articleImage{
}
.noColor{
  color:black;
}
